{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="tf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SignIn</title>

    <!-- Custom fonts fro this template -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static '../static/css/home.css' %}" rel="stylesheet">
    
</head>

<body>
    <div class="about-section">
        <h1>My Hao</h1>
        <p>Welcome to MyHao portal</p>
      </div>
    <form action="/action_page.php" style="max-width:500px;margin:auto">
        <h2>Login Form</h2>
        <div class="input-container">
          <i class="fa fa-user icon"></i>
          <input class="input-field" type="text" placeholder="Username" name="usrnm">
        </div>
      
        <div class="input-container">
          <i class="fa fa-envelope icon"></i>
          <input class="input-field" type="text" placeholder="Email" name="email">
        </div>
        
        <div class="input-container">
          <i class="fa fa-key icon"></i>
          <input class="input-field" type="password" placeholder="Password" name="psw">
        </div>
      
        <button type="submit" class="btn">Register</button>

        <div class="container signin">
            <p>Already have an account? <a href="#">Sign in</a>.</p>
          </div>
      </form>
</body>
</html>